### Simple Challenge 4

In pandas library, you can read CSV data file using the ```read_csv``` function in pandas. The function will read the csv data file straight into data frame, with the default setting where 1st row of the data file will become the header of the data frame.

In [1]:
import pandas as pd

data = pd.read_csv('telco-customer-churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
# TASK 1
cond1 = data['tenure'] >12
cond2 = data['SeniorCitizen'] == 1

task1 = data[cond1&cond2]
task1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
30,3841-NFECX,Female,1,Yes,No,71,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,No,No,Two year,Yes,Credit card (automatic),96.35,6766.95,No
50,8012-SOUDQ,Female,1,No,No,43,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,90.25,3838.75,No
52,6575-SUVOI,Female,1,Yes,No,25,Yes,Yes,DSL,Yes,...,No,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),69.50,1752.65,No
54,4667-QONEA,Female,1,Yes,Yes,60,Yes,No,DSL,Yes,...,Yes,Yes,No,Yes,One year,Yes,Credit card (automatic),74.85,4456.35,No
55,1658-BYGOY,Male,1,No,No,18,Yes,Yes,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.45,1752.55,Yes

In [3]:
# TASK 2
churn = data[data.Churn == 'Yes']
minimum = churn['tenure'].min()
maximum = churn['tenure'].max()
amount = churn['tenure'].count()
average = churn['tenure'].mean()
print(minimum)
print(maximum)
print(amount)
print(round(average,2))

1
72
1869
17.98

In [4]:
# TASK 3
task3 = pd.DataFrame(data,columns=['customerID', 'Churn', 'InternetService', 'StreamingTV','tenure','Contract','MonthlyCharges']) 
newdf = task3[task3['tenure'] >12]

sort_df = newdf.sort_values(["tenure", "MonthlyCharges"], ascending = (True, False))
sort_df

,customerID,Churn,InternetService,StreamingTV,tenure,Contract,MonthlyCharges
261,3606-TWKGI,Yes,Fiber optic,Yes,13,Month-to-month,106.90
6193,5716-LIBJC,No,Fiber optic,Yes,13,One year,104.15
6125,0871-URUWO,Yes,Fiber optic,Yes,13,Month-to-month,102.25
2708,8510-AWCXC,Yes,Fiber optic,Yes,13,Month-to-month,100.80
6714,7315-WYOAW,No,Fiber optic,Yes,13,Month-to-month,100.75
...,...,...,...,...,...,...,...
4201,1166-PQLGG,No,No,No internet service,72,Two year,19.55
109,2848-YXSMW,No,No,No internet service,72,Two year,19.40
1329,3910-MRQOY,No,No,No internet service,72,Two year,19.40
932,5787-KXGIY,No,No,No internet service,72,Two year,19.30
2693,3976-HXHCE,No,No,No internet service,72,Two year,19.30